//colors

$black: #1a1a1a;
$white: #edeaef;
$green1: #03BFB5;
$green2: #018076;

//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: $black;
}

.container{
    height: 250px;
    width: 500px;
    border-radius: 10px;

    background-color: $white;

    h1{
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }

    button{
        font-family: 'Source Sans Pro', sans-serif;
        width: 70px;
        height: 35px;
        border: none;
        color: white;
        background-color: #3587D0;
        border-radius: 4px;
        transition: ease 0.3s;
        outline: none;
    
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        &:hover{
            box-shadow:inset 70px 0 0 0 #42fbf2;
            color: black;
            cursor: pointer;
        }
    }
}
